body {
    margin: 0;
}

:root {
    --font-family: "Poppins", sans-serif;
}

.wraper {
    width: 100%;
}

.header {
    width: 1020px;
    background-color: #e6e6fa;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

.navigation {
    display: flex;
}

.navigation__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 20px;
}

.navigation__menu-item {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}

.navigation__menu-item:hover {
    color: #c71585;
    transition: 0.3s ease-in;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.logo__name {
    font-family: var(--font-family);
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.logo__role {
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0;
}

.container {
    width: 100%;
}

.about-me {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d8bfd8;
    padding: 40px 40px;
    position: relative;
}

.about-me::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 150px;
    height: 150px;
    border-radius: 82px;
    top: 14px;
    left: 273px;
    opacity: 0.5;
}

.about-me::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 200px;
    height: 200px;
    border-radius: 112px;
    top: 341px;
    left: 243px;
    opacity: 0.6;
    z-index: 1;
}

.about-me__foto {
    max-width: 300px;
    margin-right: 85px;
    position: relative;
}

.about-me__information {
    margin-right: 65px;
    position: relative;
}

.about-me__information ::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 100px;
    height: 100px;
    border-radius: 82px;
    top: 105px;
    left: 252px;
    opacity: 0.2;
    z-index: -1;
}

.about-me__header {
    font-family: var(--font-family);
    font-size: 25px;
}

.about-me__text {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 2em;
    z-index: 0;
    position: relative;
}

.hobbies {
}

.hobbies__information {
    position: relative;
}

.hobbies__information::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 250px;
    height: 250px;
    border-radius: 134px;
    top: 146px;
    left: -22px;
    opacity: 0.2;
    z-index: 0;
}

.hobbies__header {
    font-family: var(--font-family);
    font-size: 25px;
}

.hobbies__text {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 2em;
    z-index: 1;
    position: relative;
}

.contact-education {
    width: 1020px;
    margin: 0 auto;
    background-color: #dda0dd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px;
}

.contact {
    position: relative;
}

.contact-header {
    margin: 0;
    font-family: var(--font-family);
    font-size: 25px;
    margin-bottom: 45px;
    z-index: 2;
    position: relative;
    z-index: 0;
}

.contact-header::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 100px;
    height: 100px;
    border-radius: 82px;
    top: -15px;
    left: -31px;
    opacity: 0.7;
    z-index: -1;
}

.contact-menu {
    padding: 0;
    margin: 0;
}

.contact-item {
    font-family: var(--font-family);
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.contact-text {
    margin-left: 20px;
}

.contact-img {
    width: 50px;
    height: 50px;
}

.education {
    margin-left: 146px;
    position: relative;
    z-index: 1;
}

.education-header {
    font-family: var(--font-family);
    margin: 0;
    font-size: 25px;
    position: relative;
    z-index: 1;
}

.education-header::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    top: -15px;
    left: -31px;
    opacity: 0.3;
    z-index: -1;
}

.education-menu {
    padding: 0;
    position: relative;
    z-index: 1;
}

.education-item {
    font-family: var(--font-family);
    font-size: 20px;
    list-style-type: none;
    line-height: 2em;
}

.education-item_header {
    font-weight: 700;
}

.code-skills {
    width: 1020px;
    margin: 0 auto;
    background-color: #ee82ee;
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.code {
}

.code-header {
    font-family: var(--font-family);
    font-size: 25px;
    margin: 0;
    position: relative;
    z-index: 1;
}

.code-header::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 200px;
    height: 200px;
    border-radius: 112px;
    top: 255px;
    left: 849px;
    opacity: 0.3;
    z-index: -1;
}

.code-header::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #e6e6fa;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    top: -15px;
    left: -31px;
    opacity: 0.5;
    z-index: -1;
}

.code-task {
    font-family: var(--font-family);
    font-size: 20px;
    position: relative;
    z-index: 1;
}

.code-block {
    background-color: #da70d6;
    position: relative;
    z-index: 1;
}

.code-block__inner {
    font-weight: 700;
    font-family: var(--font-family);
    position: relative;
    z-index: 2;
}

.skills-language {
    width: 1020px;
    margin: 0 auto;
    background-color: #ff00ff;
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills {
    width: 50%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
}

.skills-header {
}

.skills-menu {
}

.skills-item {
    list-style-type: none;
}

.skills-item:before {
    content: #2605;
    color: #c71585;
}

.language {
    width: 50%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
}

.language-header {
}

.language-menu {
}

.langusge-item {
}

.footer {
    width: 1020px;
    margin: 0 auto;
    background-color: #c71585;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 10px 40px;
    align-items: center;
}

.footer-icon {
    width: 150px;
}

.footer_icon {
    height: 60px;
}

.img {
    max-width: 100%;
    display: block;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-year {
    margin: 0;
}

.github-link {
}

.footer-link a {
    font-family: var(--font-family);
    color: #e6e6fa;
    text-decoration: none;
    font-size: 40px;
}
