body {
    margin: 0;
}

:root {
    --font-family: "Playfair Display", serif;
}

.wraper {
    width: 100%;
}

.header {
    width: 1020px;
    background-color: #e6e6fa;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

.navigation {
}

.navigation__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 20px;
}

.navigation__menu-item {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.logo__name {
    font-family: var(--font-family);
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.logo__role {
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0;
}

.container {
    width: 100%;
}

.about-me {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d8bfd8;
    padding: 40px 40px;
}

.about-me__foto {
    max-width: 300px;
    margin-right: 85px;
}

.about-me__information {
    margin-right: 65px;
}

.about-me__header {
    font-family: var(--font-family);
    font-size: 25px;
}

.about-me__text {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 2em;
}

.hobbies {
}

.hobbies__information {
}

.hobbies__header {
    font-family: var(--font-family);
    font-size: 25px;
}

.hobbies__text {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 2em;
}

.contact-education {
    width: 1020px;
    margin: 0 auto;
    background-color: #dda0dd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px;
}

.contact {
}

.contact-header {
    margin: 0;
    font-family: var(--font-family);
    font-size: 25px;
}

.contact-menu {
    padding: 0;
}

.contact-item {
    font-family: var(--font-family);
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.contact-text {
    margin-left: 20px;
    margin-top: 15px;
}

.contact-img {
    width: 60px;
    height: 60px;
}

.education {
    margin-left: 146px;
}

.education-header {
    font-family: var(--font-family);
    margin: 0;
    font-size: 25px;
}

.education-menu {
    padding: 0;
}

.education-item {
    font-family: var(--font-family);
    font-size: 20px;
    list-style-type: none;
    line-height: 2em;
}

.education-item_header {
    font-weight: 700;
}
